RewriteEngine On
#Si es necesario activar para url limpias 
#RewriteBase /nombre de tu placacion/
#para hostinger solamente un slash
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#internamente
RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA]
#para hostinger descomentar la sigiente y descomentar la anterior
#RewriteRule . index.php